
@{
    ViewBag.Title = "Peixes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Container{
    <!--Slider section-->
<div class="panel panel-default" style="margin-bottom:600px;">

    <div class="panel-body">

        <div class="featured_slider" id="1">
            <div>
                <div class="featured_img">
                    <img src="~/Images/Peixes/doce/Cachara.png" alt="" />
                    <div id="textoP" onblur="some()">
                        <h3>Cachara (<i>Pseudoplatystoma fasciatum</i>) </h3><br />

                        O cachara, ou surubim, está distribuído em nove famílias, que se diferenciam por suas características físicas. Alcançam no máximo 1,2 metro e 70 kg, são carnívoros e se alimentam de outros peixes.

                        É um peixe de água doce e encontrado nas regiões Centro-oeste e Norte, nas bacias Araguaia-Tocantins, Amazônica e Prata, além dos estados de São Paulo, Minas Gerais, Paraná e Santa Catarina.
                    </div>
                </div>
            </div>
            <div>
                <div class="featured_img">
                    <img src="~/Images/Peixes/doce/Carpa.png" alt="" />
                    <div id="textoP" onblur="some()">
                        <h3>Carpa</h3><br />

                        A carpa comum pode chegar a mais de 1,2 metro e 40 kg, porém, normalmente é comercializada ainda pequena — entre 1 e 6 kg.<br />
                        A espécie tolera temperaturas entre 4ºC e 36°C do ambiente aquático. No Brasil, sua produção concentra-se nos estados do Sul e Sudeste.<br />

                        As carpas fazem parte da família Cyprinidae, que conta com mais de 200 espécies distribuídas em mais de 200 gêneros<br />
                        e é considerada a maior entre os peixes de água doce. Existem diversas variações desse peixe, <br />
                        que mudam em tamanho, peso, cores e até mesmo comportamentos.

                        Muitas delas surgiram por mutação genética espontânea da espécie mais comum: a carpa comum ou cinza.<br />
                        Entre as mais usadas em aquicultura, estão a carpa húngara, a carpa capim, a carpa prateada, a carpa cabeça grande<br />
                        e as coloridas utilizadas para ornamentação (pois apresentam cores variadas como laranja, branca, marrom, preta, amarela, dourada ou vermelha)<br />
                        , também conhecida pelo nome em japonês: nishikigois — todas são exóticas, por isso só são encontradas em cativeiro.
                    </div>
                </div>
            </div>
            <div>
                <div class="featured_img">
                    <img src="~/Images/Peixes/doce/Dorado-AD.png" alt="" />
                    <div id="textoP" onblur="some()">
                        <h3> Dourado (<i>Salminus brasiliensis</i>)</h3><br />
                        O dourado é da família Bryconidae e subfamília Salminidae e é considerado o “rei dos rios”.<br />
                        Ele pode chegar a 1 metro de comprimento e pesar até 31 kg, dependendo de seu habitat.<br />

                        É uma espécie carnívora que se alimenta de pequenos peixes. Normalmente, é mais encontrado na bacia do Prata.

                    </div>
                </div>
            </div>
            <div>
                <div class="featured_img">
                    <img src="~/Images/Peixes/doce/Lambari.png" alt="" />
                    <div id="textoP" onblur="some()">
                        <h3>Lambari</h3><br />
                        O lambari é da família Characidae e é conhecido como “sardinha de água doce”, piava, piaba, matupiris ou lambari do sul. É um peixe pequeno e não passa dos 10 cm.<br />

                        Muito popular em todo o Brasil, sendo encontrado em todas as regiões.
                    </div>
                </div>
            </div>
            <div>
                <div class="featured_img">
                    <img src="~/Images/Peixes/doce/Matrixan.png" alt="" />
                    <div id="textoP" onblur="some()">
                        <h3>Matrinxã (<i>Brycon spp</i>)</h3><br />
                        Quatro espécies de peixes fazem parte do grupo Matrinxã ou Matrinchão (Brycon sp): o piraputanga (Brycon microlepis), o jatuarana (Brycon sp),<br />
                        a piracanjuba (Brycon orbignyanus) e a piabanha (Brycon insignis). Todos fazem parte da família Bryconidae, gênero Brycon, e apresentam boas características<br />
                        para a aquicultura no Brasil.

                        A piraputanga apresenta características que lembram grandes lambaris, chegando próximo aos 3 quilos e 60 cm de comprimento.<br />
                        São encontrados em toda a bacia Paraguai, habitando a maior parte dos rios pantaneiros.<br />

                        Já a espécie jatuarana apresenta corpo alongado, escamas de coloração prateada e uma mancha escura atrás do opérculo.<br />
                        São peixes encontrados na bacia Amazônica, mais exatamente em águas rápidas, como cachoeiras. Alimentam-se de insetos, frutos e pequenos peixes.<br />
                        Pode chegar a 40 cm de comprimento pouco mais de 4 quilos de peso.

                        Por fim, o piracanjuba, que também é conhecido popularmente como pera, piracanjuva, bracanjuva ou bracanjuba,<br />
                        pode ser encontrado nos estados de São Paulo, Mato Grosso do Sul, Minas Gerais, sul de Goiás e no Paraná.<br />
                        É um peixe onívoro e se alimenta de insetos, pequenos peixes e frutas. Em termos de tamanho, chega a 70 cm de comprimento e 8,6 quilos.
                    </div>
                </div>
            </div>
            <div>
                <div class="featured_img">
                    <img src="~/Images/Peixes/doce/Piauçu.png" alt="" />
                    <div id="textoP" onblur="some()">
                        <h3>Piau-açu (<i>Leporinus macrocephalus</i></h3><br />

                        O piau-açu também é chamado de piavuçu ou piauçu e pertence à família Anostomidae. <br />
                        É uma espécie natural do rio Paraguai, mas também é encontrado no pantanal mato-grossense, Minas Gerais, São Paulo, Goiás e nas bacias Amazônica<br />
                        , Araguaia-Tocantins e Prata.<br />

                        São peixes onívoros que comem de tudo e podem chegar a até 68 cm de comprimento, pesando no máximo 5,3 quilos.
                    </div>
                </div>
            </div>
            <div>
                <div class="featured_img">
                    <img src="~/Images/Peixes/doce/pintado.png" alt="" />
                    <div id="textoP" onblur="some()">
                        <h3>Pintado (<i>Pseudoplatystoma corruscans</i>)</h3><br />
                        O pintado faz parte da família dos Pimelodidae e possui distribuição exclusiva na América do Sul, <br />
                        presente no Brasil nas bacias do Rio Paraná a e do rio São Francisco, onde são encontrados com até 100 kg e 1,7 metro de comprimento.
                    </div>
                </div>
            </div>
            <div>
                <div class="featured_img">
                    <img src="~/Images/Peixes/doce/piraiba.png" alt="" />
                    <div id="textoP" onblur="some()">
                        <h3>Piraíba (<i>Brachyplatystoma filamentosum</i>)</h3><br />

                        A paraíba pertence à família Pimelodidae, sendo um peixe encontrado nas bacias Amazônica e Araguaia-Tocantins —<br />
                        nesta última, é considerado uma ótima opção de pesca, encontrado durante todo o ano.

                        Pode existir em pequeno, médio e grande porte, alcançando até 300 quilos e 3 metros de comprimento, entretanto, o mais comum são os exemplares menores.
                    </div>
                </div>
            </div>
            <div>
                <div class="featured_img">
                    <img src="~/Images/Peixes/doce/Pirarucu.png" alt="" />
                    <div id="textoP" onblur="some()">
                        <h3>Pirarucu (<i>Arapaima gigas</i>)</h3><br />

                        Nativo da Bacia Amazônica e Araguaia/Tocantins, sendo pouco conhecido nas outras regiões do país,<br />
                        o pirarucu pertence à família Arapaimidae e também é conhecido como bacalhau da Amazônia, local em que é encontrado.<br />
                        Esse peixe apresenta alimentação bem variada, composta de peixes, tartarugas, caramujos, plantas, gafanhotos e cobras.<br />
                        Quando adulto, na natureza ele chega a ultrapassar os 2 metros de comprimento e pode pesar até 300 quilos.<br />

                        A produção dessa espécie na piscicultura é feito em represas rurais, viveiros escavados, tanques acima do nível do piso ou tanques de rede.<br />
                        Sua carne não tem espinhos em “y” e é um peixe com boa comercialização, o que indica uma ótima oportunidade para quem quer entrar no mercado.
                    </div>
                </div>
            </div>
            <div>
                <div class="featured_img">
                    <img src="~/Images/Peixes/doce/Raibow.png" alt="" />
                    <div id="textoP" onblur="some()">
                        <h3> Truta-arco-íris (<i>Oncorhynchus mykiss</i>)</h3><br />
                        Esse peixe pertence à família Salmonidae. A espécie é originária da América do Norte e foi introduzida no Brasil no final da década de 40<br />
                        , na região de Campos do Jordão (SP). Atualmente, é produzida em grandes altitudes, nas regiões Sudeste e Sul do país.</br.>

                        Esse é um peixe carnívoro que pode alcançar 1,22 metro de comprimento e pesar mais de 25 quilos.
                    </div>
                </div>
            </div>
            <div>
                <div class="featured_img">
                    <img src="~/Images/Peixes/doce/Tilapia.png" alt="" />
                    <div id="textoP" onblur="some()">
                        <h3>Tilápias</h3><br />
                        Esse peixe pertence à família Cichlidae e apresenta mais de 10 variações em seu habitat, chegando aos 4,3 quilos de peso<br />
                        e 60 cm de comprimento. A espécie é nativa da África. Atualmente presente no mundo todo, no Brasil ainda é proibida nos estados da bacia Amazônica,<br />
                        mas largamente produzida em todas as outras regiões do país.<br />

                        Para produção, é possível usar viveiros escavados, tanques de rede, gaiolas flutuantes ou raceways.<br />
                        Por esses motivos, é considerado o “carro-chefe” de nossa aquicultura.
                    </div>
                </div>
            </div>
            <div>
                <div class="featured_img">
                    <img src="~/Images/Peixes/doce/Tucunare.png" alt="" />
                    <div id="textoP" onblur="some()">
                        <h3>Tucunaré (<i>Cichla spp</i>)</h3><br />
                        O tucunaré faz parte da família Cichlidae, junto com, pelo menos, outras 14 espécies do peixe.<br />
                        Os maiores podem chegar a 1 m e são encontrados nas bacias Amazônica e Araguaia-Tocantins<br />
                        , em reservatórios da bacia do Prata e algumas regiões do rio São Francisco.
                    </div>
                </div>
            </div>
            <div>
                <div class="featured_img">
                    <img src="~/Images/Peixes/salgada/Dourado-Mar.png" alt="" />
                    <div id="textoP" onblur="some()">
                        <h3>Dourado-do-Mar (<i>Coryphaena hippurus</i>)</h3><br />
                        Esse peixe marinho é pertencente à família Coryphaenidae e pode ser encontrado nas regiões<br />
                        Norte, Nordeste, Sudeste e Sul do país. Essa espécie é maior que sua versão de água doce, chegando aos 2 metros de comprimento e 40 kg.<br />

                        São peixes muito valorizados para uso comercial e pesca esportiva e tendem a se aproximar da costa brasileira entre outubro e março.<br />
                    </div>
                </div>
            </div>
            <div>
                <div class="featured_img">
                    <img src="~/Images/Peixes/salgada/Garoupa.png" alt="" />
                    <div id="textoP" onblur="some()">

                        <h3>Garoupa (<i>Epinephelus marginatus</i>)</h3><br />
                        Pertencente à família Serranidae e subfamília Epinephelinae, a garoupa também é conhecida como garoupa verdadeira, dusky grouper, crioula, galinha-do-mar e piracuca.<br />
                        Esse peixe é encontrado em todo o mundo. No Brasil, passa por toda a costa do Sergipe até o Uruguai e uma porção do litoral Norte da Argentina.<br />
                        A espécie é considerada uma das mais valorizadas pelos consumidores nacionais, por isso, tem alto valor no mercado podendo atingir US$ 60,00/kg.<br />

                        Mais comum no Sudeste brasileiro, o peixe pode chegar a medir até um pouco mais de 1,5 metro e atingir 60 quilos, apresentando características<br />
                        interessantes para a produção em cativeiro, em tanques-rede, tanques ou viveiros escavados.<br />
                        Entretanto, um fator que dificulta a prática é que esse é um peixe hermafrodita protogínico,<br />
                        ou seja, todos nascem fêmeas e, eventualmente, podem se tornar machos.
                        <br />
                    </div>
                </div>
            </div>
            <div>
                <div class="featured_img">
                    <img src="~/Images/Peixes/salgada/Linguado.png" alt="" />
                    <div id="textoP" onblur="some()">
                        <h3>Linguado (<i>Paralichthys orbignyanus</i>)</h3><br />
                        O linguado tem alto valor comercial e apresenta ótimas características para piscicultura,<br />
                        sendo considerada uma espécie bastante promissora para a aquicultura brasileira, com tolerância a diferentes faixas de temperatura e salinidade,<br />
                        elevadas concentrações de compostos nitrogenados e sobrevivência em águas ácidas.<br />

                        Pode ser encontrado entre o Mar del Plata, na Argentina, e o Rio de Janeiro, no Brasil.
                    </div>
                </div>
            </div>
            <div>
                <div class="featured_img">
                    <img src="~/Images/Peixes/salgada/Robalo.png" alt="" />
                    <div id="textoP" onblur="some()">
                        <h3>Robalo (<i>Centropomus undecimalis</i>)</h3><br />
                        Outra aposta da piscicultura marinha nacional são os robalos (peva/peba — Centropomus parallelus —, ou o flecha — Centropomus undecimalis).<br />
                        As espécies estão presentes em toda a costa do Atlântico, desde a Carolina do Norte (nos EUA), até o rio Mampituba, em Santa Catarina.<br />

                        Sua distribuição no Brasil segue seu principal habitat: o mangue. Dessa forma, é uma ótima opção para produção na Bahia, Pará e Maranhão.<br />
                    </div>
                </div>
            </div>
            <div>
                <div class="featured_img">
                    <img src="~/Images/Peixes/salgada/Salmão.png" alt="" />
                    <div id="textoP" onblur="some()">
                        <h3>Salmão do Atlântico (<i>Salmo salar</i>)</h3><br />
                        Pertencente à família Salmonidae, o salmão é um peixe muito conhecido e consumido no mundo todo.<br />
                        Essa espécie não é encontrada de forma natural no Brasil, sendo originária da costa leste da América do Norte.<br />
                        A variedade “landlocked” foi introduzida no Brasil no início dos anos 90 por um grupo de truticultores de Minas Gerais.<br />

                        Na natureza, nasce em água doce, mas passa sua vida no mar, retornando ao ambiente dulcícola em que nasceu na época de reprodução.<br />
                    </div>
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>    
</div>

  
       

   

    <!-- End off slider --https://lojasansuyblog.com.br/guia-das-melhores-especies-de-peixes-para-a-piscicultura-brasileira/ -->

    <script>
        function some() {
            var x = document.getElementById("textoP");
                x.style.display = "none";
        }
    </script>
}

