@model Site_piscicultura.Models.ModeloUsuario

@{
    ViewBag.Title = "EditarPlano";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        @section Container{


<div class="panel panel-default">
    <!-- /.panel-heading -->
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="col-md-4 col-sm-12">
                <div class="pricing_item">
                    <div class="pricing_head p-top-30 p-bottom-100 text-center">
                        <h3 class="text-uppercase">INICIANTE</h3>
                    </div>
                    <div class="pricing_price_border text-center">
                        <div class="pricing_price">
                            <h3 class="text-white">$70</h3>
                            <p class="text-white">mensais</p>
                        </div>
                    </div>

                    <div class="pricing_body bg-white p-top-110 p-bottom-60">
                        <ul>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>1</span> Cadastro de tanque</li>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>3</span> Cadastro de rações </li>
                            <li><i class="fa fa-check-circle text-primary"></i> Cadastro de psicultura </li>
                            <li><i class="fa fa-check-circle text-primary"></i> Cadastro de tarefas </li>
                            <br />
                            <br />


                        </ul>

                    </div>
                </div>
            </div><!-- End off col-md-4 -->

            <div class="col-md-4 col-sm-12">
                <div class="pricing_item sm-m-top-30">
                    <div class="pricing_top_border"></div>
                    <div class="pricing_head p-top-30 p-bottom-100 text-center">
                        <h3 class="text-uppercase">AVANÇADO</h3>
                    </div>
                    <div class="pricing_price_border text-center">
                        <div class="pricing_price">
                            <h3 class="text-white">$100</h3>
                            <p class="text-white">mensais</p>
                        </div>
                    </div>

                    <div class="pricing_body bg-white p-top-110 p-bottom-60">
                        <ul>
                            <li><i class="fa fa-check-circle text-primary"></i> Plano de iniciante </li>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>3</span> Cadastro de tanque</li>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>5</span> Cadastro de rações</li>
                            <br />
                            <br />
                            <br />
                            <br />


                        </ul>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <form method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="55KX5ZNR9BXK6">
                            <table>
                                <tr><td><input type="hidden" name="on0" value="Tipo de Plano">Tipo de Plano</td></tr>
                                <tr>
                                    <td>
                                        <select name="plano">
                                            <option value="1">Plano Iniciante : R$70,00 BRL - mensalmente</option>
                                            <option value="2">Plano Avançado : R$100,00 BRL - mensalmente</option>
                                            <option value="3">Plano Premium : R$130,00 BRL - mensalmente</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Assinar" class="btn btn-default" />
                        </div>
                    </div>

                </div>

            </div><!-- End off col-md-4 -->

            <div class="col-md-4 col-sm-12">
                <div class="pricing_item sm-m-top-30">
                    <div class="pricing_head p-top-30 p-bottom-100 text-center">
                        <h3 class="text-uppercase">PREMIUM</h3>
                    </div>
                    <div class="pricing_price_border text-center">
                        <div class="pricing_price">
                            <h3 class="text-white">$130</h3>
                            <p class="text-white">mensais</p>
                        </div>
                    </div>

                    <div class="pricing_body bg-white p-top-110 p-bottom-60">
                        <ul>
                            <li><i class="fa fa-check-circle text-primary"></i> Plano de Avançado </li>
                            <li><i class="fa fa-check-circle text-primary"></i> Cadastro de tanque ilimitado</li>
                            <li><i class="fa fa-check-circle text-primary"></i> Cadastro de rações ilimitado</li>
                            <li><i class="fa fa-check-circle text-primary"></i> Biometria</li>
                            <li><i class="fa fa-check-circle text-primary"></i> Estoque de produtos</li>
                        </ul>
                        <div class="pricing_btn text-center m-top-40">

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @Html.ActionLink("Voltar", "MenuUsuario")
    <!-- /.panel-body -->
</div>

        }
}


